{% extends 'base.html' %}

{% block title %} Category list {% endblock %}

{% block content %}
<div class="container">
    <h1>Category</h1>

    {% for category in object_list %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <p class="card-text">{{ category.description|safe }}</p>
            <a href="/category_detail/{{ category.id }}/" class="btn btn-success me-2">View</a>
            <a href="/category_delete/{{ category.id }}/" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">
        No Category yet.
    </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo; First</span></li>
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
                <li class="page-item disabled"><span class="page-link">Last &raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}